.headder-child {
  border: 3px solid var(--color-black);
  background-color: var(--interactive-primary-solid-enabled-foreground);
  position: absolute;
  height: 17.27%;
  width: 95.98%;
  top: 68.24%;
  right: 1.78%;
  bottom: 14.49%;
  left: 2.25%;
  box-sizing: border-box;
}
.sign-up {
  position: absolute;
  top: 20px;
  left: 90.61px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--interactive-primary-solid-enabled-foreground);
  text-align: left;
  -webkit-text-stroke: 1px #5c17e5;
}
.signin1 {
  cursor: pointer;
  border: 1px solid var(--interactive-link-enabled);
  padding: 0;
  background-color: var(--interactive-link-enabled);
  position: absolute;
  height: 9.42%;
  width: 34.82%;
  top: 88.29%;
  right: 32.47%;
  bottom: 2.29%;
  left: 32.71%;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  overflow: hidden;
  mix-blend-mode: normal;
}
.permonth {
  cursor: pointer;
  position: absolute;
  height: 2.42%;
  width: 13.35%;
  top: 54.23%;
  right: 86.65%;
  bottom: 43.36%;
  left: 0%;
}
.perweek1 {
  position: absolute;
  width: 67.68%;
  top: 0%;
  left: 32.32%;
  font-size: var(--font-size-mini);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.radio-with-label {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 20.2%;
  top: 0%;
  right: 79.8%;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.perweek {
  position: absolute;
  height: 2.42%;
  width: 12.35%;
  top: 54.23%;
  right: 72.8%;
  bottom: 43.36%;
  left: 14.85%;
}
.perday1 {
  position: absolute;
  width: 63.64%;
  top: 0%;
  left: 36.36%;
  font-size: var(--font-size-mini);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.radio {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 22.73%;
  top: 0%;
  right: 77.27%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-81xl);
  background-color: var(--interactive-primary-solid-enabled-foreground);
  box-shadow: 0px 3px 5px rgba(46, 46, 66, 0.08);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.perday {
  position: absolute;
  height: 2.42%;
  width: 10.98%;
  top: 54.23%;
  right: 59.32%;
  bottom: 43.36%;
  left: 29.7%;
}
.additem-pic {
  border: none;
  background-color: transparent;
  position: absolute;
  height: 27.54%;
  width: 33.73%;
  top: 34.18%;
  right: 16.69%;
  bottom: 38.29%;
  left: 49.59%;
}
.add-item {
  position: absolute;
  top: 44px;
  left: 301px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 243.64px;
  height: 63.01px;
}
.headder-item {
  position: absolute;
  top: 131.51px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 846px;
  height: 1px;
}
.firstname-input {
  border: none;
  background-color: white;
  position: absolute;
  height: 8.45%;
  width: 38.36%;
  top: 20.53%;
  right: 61.64%;
  bottom: 71.01%;
  left: 0%;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.category-list {
  position: absolute;
  height: 8.57%;
  width: 34.67%;
  top: 20.53%;
  right: 16.69%;
  bottom: 70.89%;
  left: 48.64%;
}
.price-nego {
  border: none;
  background-color: transparent;
  position: absolute;
  height: 10.48%;
  width: 38.46%;
  top: 33.7%;
  right: 61.54%;
  bottom: 55.83%;
  left: 0%;
}
.negotiable-radios {
  cursor: pointer;
  position: absolute;
  height: 2.44%;
  width: 13.14%;
  top: 45.17%;
  right: 86.86%;
  bottom: 52.39%;
  left: 0%;
}
.headder {
  position: absolute;
  top: 95px;
  left: 298px;
  background-color: #fffbfb;
  width: 845px;
  height: 828px;
}
.adding-item {
  position: relative;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 1024px;
}
