.notification {
  position: relative;
}
.notificationbar {
  position: absolute;
  height: 4.33%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 94%;
  left: 0%;
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.notification-box-child {
  position: absolute;
  height: 13.33%;
  width: 100%;
  top: 4.33%;
  right: 0%;
  bottom: 82.33%;
  left: 0%;
  background-color: var(--color-gainsboro);
}
.notification-box-item {
  position: absolute;
  height: 13.33%;
  width: 100%;
  top: 37.67%;
  right: 0%;
  bottom: 49%;
  left: 0%;
  background-color: var(--color-gainsboro);
}
.notification-box-inner {
  position: absolute;
  height: 13.33%;
  width: 100%;
  top: 70%;
  right: 0%;
  bottom: 16.67%;
  left: 0%;
  background-color: var(--color-gainsboro);
}
.notification-box-child1 {
  position: absolute;
  height: 13.33%;
  width: 100%;
  top: 21%;
  right: 0%;
  bottom: 65.67%;
  left: 0%;
  background-color: var(--color-gainsboro);
}
.notification-box-child2 {
  position: absolute;
  height: 13.33%;
  width: 100%;
  top: 54.33%;
  right: 0%;
  bottom: 32.33%;
  left: 0%;
  background-color: var(--color-gainsboro);
}
.notification-box-child3 {
  position: absolute;
  height: 13.33%;
  width: 100%;
  top: 86.67%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: var(--color-gainsboro);
}
.notification-box {
  position: relative;
  background-color: var(--interactive-primary-solid-enabled-foreground);
  width: 500px;
  height: 600px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: #0a0a0a;
  font-family: var(--font-inter);
}
